#toast {
    display: none;
    position: fixed;
    width: 80vw;
    bottom: 25%;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    z-index: 9999;
    max-width: max-content;
}

#app-name {
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #e6f2ff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ai-profile {
    text-decoration: none;
    color: #e6f2ff;
    display: flex;
    padding: 5px;
    background-color: #4CAF50;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


#menu-header {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 10px;
    padding: 10px 0;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f1f1f1;
}

#manage-profile {
    position: absolute;
    right: 0px;
    top: 5px;
}

#menu-header i {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

#menu-header span {
    font-size: 18px;
    font-family: 'Roboto';
}

#menu-list {
    -webkit-overflow-scrolling: touch;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    color: #333;
}

.markdown-modal {
    width: 80vw;
}

.swal-title {
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    color: #333;
    margin: 20px 0;
    padding: 0;
}

.swal-content {
    margin: 0;
}

.swal-footer {
    margin: 0;
}

.markdown-modal textarea {
    width: 100%;
    height: 60vh;
    resize: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Roboto';
    line-height: 150%;
}

#menu li i {
    font-size: 16px;
    margin-right: 10px;
}

#menu li span {
    font-size: 14px;
    line-height: 120%;
}

#menu li:hover,
#menu li.active {
    background-color: #424141;
    color: #e6f2ff;
    cursor: pointer;
}

.message {
    position: relative;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-top: 1.5em;
    padding-right: 0.5em;
    margin-bottom: 0.8em;
    margin-right: 0.5em;
    border-radius: 0.5em;
    line-height: 150%;
    overflow-wrap: anywhere;
}

.user-message.active {
    background-color: #e0e0e0;
    color: #333333;
    text-align: left;
}

.user-message {
    background-color: #f2f2f2;
    color: #333333;
    margin-left: 10px;
}

.assistant-message.active {
    background-color: #c4d7ff;
}

.assistant-message {
    background-color: #e6f2ff;
    color: #333333;
    text-align: left;
    margin-left: 20px;
}

.error-message {
    color: #990000;
}

.message-content {
    overflow-y: auto;
    max-height: 40vh;
}

.message-content.maximized {
    max-height: fit-content;
}


#system-message {
    padding: 10px;
    margin: 0 5px;
    background-color: #666;
    border: 1px solid #333;
    border-radius: 5px;
    color: #e6f2ff;
    max-height: 15vh;
    overflow-y: auto;
}

.message ol,
.message ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

.message li {
    margin-bottom: 0.5em;
    margin-left: 2em;
}

/* Quote icon styles */
.user-message .fa-quote-left,
.assistant-message .fa-quote-left {
    position: absolute;
    cursor: pointer;
}

.user-message.active .fa-quote-left {
    color: #4d4d4d;
}

.assistant-message.active .fa-quote-left {
    color: #4d4d4d;
}

.fa-quote-left {
    top: 0em;
    left: 0em;
    font-size: 1em;
    color: #fff;
}

/* Minimize window icon styles */
#window-icon {
    position: absolute;
    top: 0em;
    left: 1.2em;
    font-size: 1em;
    cursor: pointer;
    z-index: 2;
    color: #bbb;
}

/* Window close icon styles */
.menu-button {
    position: absolute;
    top: 0.2em;
    right: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

.maximize-button {
    position: absolute;
    bottom: 1em;
    right: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

ul.popup-menu {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 1em;
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 100;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

li.menu-item {
    padding: 5px 10px;
    list-style: none;
    cursor: pointer;
    margin: 0;
    font-size: 12px;
    transition: background-color 0.3s ease-in-out;
}

li.menu-item i {
    margin-right: 10px;
}

li.menu-item:hover {
    background-color: #007BFF;
    color: white;
}


.user-message pre {
    white-space: pre-wrap;
}

.assistant-message pre {
    background-color: #000;
    color: white;
    padding: 5px;
    white-space: pre-wrap;
}

.icon-group i {
    cursor: pointer;
}

.icon-group {
    margin-top: 0.5em;
    margin-right: 2em;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.message.collapsed .icon-group {
    display: none;
}

/* Custom scrollbar for Webkit browsers */
#menu::-webkit-scrollbar,
#messages::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#menu::-webkit-scrollbar-thumb,
#messages::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 6px;
}

#menu::-webkit-scrollbar-thumb::hover,
#messages::-webkit-scrollbar-thumb::hover,
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    cursor: default;
}

/* mini-toolbar */

.mini-toolbar {
    background-color: #656464;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.interactive-elements {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

#user {
    background-color: #3e8e41;
}

.btn:hover {
    background-color: #555;
}

.btn .btn-text {
    margin-left: 5px;
}

.btn.gpt-4 {
    background-color: #1AB394;
}

.btn.gpt-3 {
    background-color: #999;
}

.information {
    display: flex;
    justify-content: right;
    gap: 5px;
    padding: 2px 5px;
}

.info-chip {
    border-radius: 5px;
    padding: 2px;
    background-color: #a0c0ff;
    color: #fafafa;
    font-size: 12px;
    transition: background-color 0.5s ease-in-out;
}

.info-chip.updated {
    background-color: #FF7043;
}

#sliderContainer {
    align-items: center;
}

#currentValue {
    background-color: #fff;
    color: #333;
    padding: 3px 6px;
    border-radius: 5px;
    margin-right: 5px;
}

#clear-input {
    position: absolute;
    left: -25px;
    top: 0px;
    font-size: 1em;
    color: #ccc;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

#clear-input:hover {
    color: #999;
}

#message-form button[type="submit"] {
    height: 34px;
    width: 34px;
    position: absolute;
    top: 5px;
    right: 5px;
}

#new-chat-button {
    height: 34px;
    width: 34px;
    position: absolute;
    top: -43px;
    height: 38px;
    left: 45px;
    color: #fff;
    background-color: cornflowerblue;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#new-chat-button:hover {
    background-color: lightblue;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

#voice-input-button {
    height: 34px;
    width: 34px;
    position: absolute;
    top: -43px;
    height: 38px;
    left: 5px;
    color: #fff;
    background-color: #E53935;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#voice-input-button:hover {
    background-color: #FF7043;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.voice-input-active i {
    color: #fff;
}

@keyframes buttonChange {

    0%,
    100% {
        background-color: #E53935;
        color: #ffffff;
    }

    50% {
        background-color: #000000;
        color: #E53935;
    }
}

#voice-input-button.voice-input-active {
    animation: buttonChange 1s infinite;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

#voice-input-button.voice-input-active i {
    animation: iconChange 1s infinite;
}

@keyframes iconChange {

    0%,
    100% {
        color: #ffffff;
    }

    50% {
        color: #E53935;
    }
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

.switch-container {
    display: inline-block;
}

.code-block-wrapper {
    position: relative;
    line-height: 1.2;
}

.code-block-copy {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    cursor: pointer;
}

.code-block-copy:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #fff;
    border-radius: 8px;
    background: linear-gradient(to bottom, #e6f0ff, #bfd2ff);
}

th,
td {
    padding: 5px;
    text-align: left;
    border: 1px solid #fff;
}

th {
    background-color: #a0c0ff;
    color: #000;
    font-weight: bold;

}

tr:hover {
    background-color: #e3e3e3;
}

#chat-profile-list-menu {
    position: absolute;
    top: 30px;
    background-color: #ffffff;
    width: fit-content;
    overflow-y: auto;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 0.2s;
}

.hidden {
    display: none;
}

svg path,
svg rect {
    fill: #fff;
    opacity: 0.8;
}

#chat-profile-list-menu ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

#chat-profile-list-menu ul li {
    padding: 10px;
    cursor: pointer;
}

#chat-profile-list-menu ul li:hover {
    background-color: #f1f1f1;
}

#chat-history-container h2 {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 500;
    margin-bottom: 10px;
    color: #fff;
}

#chat-history-list {
    list-style: none;
    padding: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 40px;
    overflow: auto;
}

#chat-history-list::-webkit-scrollbar {
    display: none;
    /* for Chrome, Safari */
}

#chat-history-list {
    -ms-overflow-style: none;
    /* for IE and Edge */
    scrollbar-width: none;
    /* for Firefox */
}


#chat-history-list li {
    padding: 10px;
    background-color: #333;
    color: #f5f5f5;
    border-radius: 3px;
    margin-bottom: 10px;
    border: 1px solid #333;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
}

#chat-history-list li:hover {
    background-color: #3391FF;
    border: 1px solid #0056b3;
    cursor: pointer;
}

#chat-history-list li small {
    color: #999;
    margin-left: 5px;
}

#chat-history-list li.active {
    background-color: #007BFF;
    color: white;
    border: 1px solid #0056b3;
}

#chat-history-list li i {
    margin-right: 10px;
}

#chat-history-list li:last-child {
    margin-bottom: 0;
}

.chat-history-item {
    position: relative;
}

.action-button-group {
    position: absolute;
    bottom: -5px;
    right: -20px;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 10;
}

.chat-history-item:hover .action-button-group {
    display: block;
}


button.action-button {
    margin: 0 3px;
    padding: 3px;
    font-size: 1em;
    color: #ffffff;
    opacity: 0.5;
    border-radius: 5px;
    background: #333;
}

button.action-button:hover {
    opacity: 0.5;
    margin: 0 3px;
    padding: 3px;
    font-size: 1em;
    border-radius: 5px;
    color: #666;
    background-color: #fff;
}

button.action-button.invisible {
    display: none;
}

#chat-history-list li button.action-button i {
    margin: 0;
}

.follow-up-questions {
    text-align: left;
}

.follow-up-questions button {
    background-color: white;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    padding: 10px 24px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.19), 0 2px 10px rgba(0, 0, 0, 0.23);
    transition-duration: 0.4s;
}

.follow-up-questions button:hover {
    background-color: #ddd;
    color: black;
    border: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 3px 6px rgba(0, 0, 0, 0.22);
}

.follow-up-questions button:active {
    background-color: #ccc;
    box-shadow: 0 7px 20px rgba(0, 0, 0, 0.5), 0 5px 10px rgba(0, 0, 0, 0.22);
    transform: translateY(4px);
}

#message-input-container {
    max-width: 100%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 99;
}

#ai-actor-container li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #1f2a36;
}

#ai-actor-header i,
#ai-actor-container li i {
    margin: 0 0.5em 0 0;
    font-size: 1em;
    padding: 0.2em;
    color: cornflowerblue;

}

#ai-actor-header span {
    font-size: 18px;
    font-family: 'Roboto';
}

#ai-actor-list li span {
    margin: 0;
    padding: 0;
}

#ai-actor-container li:hover i,
#ai-actor-container li.active i,
#ai-actor-container li:hover,
#ai-actor-container li.active {
    background-color: cornflowerblue; /* 活泼的高亮颜色 */
    color: #ffffff; /* 高对比度的文字颜色确保可读性 */
    cursor: pointer;
}

#ai-actor-container {
    position: fixed;
    max-width: 70%;
    max-height: 70vh;
    width: 50%;
    height: auto;
    border-radius: 0.5em;
    background-color: #17212b; /* 深色背景色，适合夜间模式 */
    color: #8899A6; /* 淡蓝灰色字体颜色，低对比度且不刺眼 */
    box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 9999;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    /* no scroll bar for Internet Explorer, Edge, and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* This needs to be a separate block */
#ai-actor-container::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#horizontal-resize-handle, #resize-handle {
    transition: background-color 0.25s;
}

#resize-handle:hover {
    background-color: #0056b3; 
}
