@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#header {
    flex: 0 0 40px;
}

#main-container {
    display: flex;
    flex: 1;
}

#chat-history-container,
#menu {
    flex: 15;
    min-width: 200px;
}

#app-outer-wrapper {
    flex: 70;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    position: relative;
}

#app-container {
    display: flex;
    flex-direction: column;
    transition: height 0.2s ease-out;
}

#profile-content {
    flex: 0 0 auto;
}

#messages {
    flex: 1;
}


#chat-history-container {
    background: linear-gradient(to bottom, #4B4E53, #2C2F33);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0px auto 0px;
    overflow: hidden;
    height: calc(100vh - 40px);
}


#menu {
    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    height: calc(100vh - 40px);
    padding-bottom: 50px;

}


#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom right, #999, #333);
    padding: 0;
}

#header #header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

#header-buttons > button {
    margin-right: 5px;
}

#menu-list{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

#profile-content {
    margin-top: 5px;
    margin-right: 10px;
    overflow: auto;
}

#profile-content {
    flex: 0 0 auto;
}


#app-outer-wrapper {
    flex: 70;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 40px);
    position: relative;
}

#app-container {
    display: flex;
    flex-direction: column;
    transition: height 0.2s ease-out;
}

#messages {
    flex: 1;
}

#messages {
    position: relative;
    margin-top: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    scrollbar-width: thin;
    scrollbar-color: #bbb transparent;
}


#message-input-container {
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
}

#message-form {
    height: 100%;
    background: linear-gradient(to bottom, #333, #555);
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
    
}

#resize-handle {
    height: 5px; /* 给把手设定一个高度 */
    background: #ccc; /* 把手的背景颜色 */
    cursor: ns-resize; /* 光标变为南北调整的形状，表示可垂直调整 */
}


#message-input {
    resize: none;
    width: 100%;
    height: 100%;
    padding: 5px 50px 0px 5px;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: border-color 0.2s ease-in-out;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #bbb transparent;
    line-height: 120%;
    font-size: 16px;
}

#input-container {
    height: 100%;
    margin-left: 20px;
    position: relative;
    flex: 1;
}

.mini-toolbar-container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}