.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-lg);
    max-width: 500px;
    text-align: center;
    position: relative;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.modal-content label {
    margin-bottom: 10px;
}

.modal-content input {
    padding: 10px;
    border-radius: var(--border-radius-sm);
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
}

.modal-content button {
    background-color: #fff;
    color: #333;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: var(--border-radius-sm);
    cursor: pointer;
    margin-top: 10px;
    white-space: nowrap;
    text-transform: capitalize;
}

.modal-content button:hover {
    background-color: #f0f0f0;
    border-color: #999;
}

.modal-content .close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* New styles for common modal styles */
.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal-wrapper.visible {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.modal-inner {
    background-color: #fff;
    border-radius: var(--border-radius-lg);
    padding: 20px;
    position: relative;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s ease;
    border: 1px solid #ccc;
}

.modal-wrapper.visible .modal-inner {
    transform: translateY(0);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .modal-inner {
        width: 95%;
        margin: 10px;
        max-height: calc(100vh - 20px);
    }
}

.modal-buttons button {
    white-space: nowrap;
    text-transform: capitalize;
}