/* for the mobile devices */
@media screen and (max-width: 768px) {
    #app-outer-container {
        padding: 0;
    }

    #app-container {
        padding: 0;
        max-width: 100%;
    }

    #chat-history-container {
        display: none;
    }

    .message-input-container{
        max-width: 100%;
    }

    #menu {
        display: none;
        position: fixed;
        top: 2.7em;
        right: 1em;
        border-radius: 0.5em;
        width: 70vw;
        max-width: max-content;
        background-color: #FFFFFF;
        box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        overflow-y: auto;
        height: calc(75vh);
        max-height: max-content;
        z-index: 9999;
    }

    #menu li {
        margin: 0;
        padding: 10px;
    }

    #menu-header i,
    #menu li i {
        margin: 0 0.5em 0 0;
        font-size: 1em;
        padding: 0.2em;
    }

    #menu-header span {
        font-size: 1em;
        font-weight: normal;
    }

    #menu-list li span {
        margin: 0;
        padding: 0;
    }

    #chat-container {
        padding: 0;
        width: 100%;
        margin: 0;
        border: 0;
        box-shadow: 0;
    }

    #app-name {
        margin: 0em;
        padding: 0.5em;
        font-size: 1em;
        width: 50%;
    }

    #header {
        display: flex;
        width: 100%;
    }

    #messages {
        width: 100%;
        padding: 0.5em;
    }

    .message {
        padding: 1em;
        margin-bottom: 0.5em;
        margin-right: 0;
        border-radius: 0.5em;
    }

    .message ol,
    .message ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .message li {
        margin-bottom: 0.5em;
        margin-left: 2em;
    }

    .mini-toolbar {
        font-size: 12px;
    }

    .btn .btn-text {
        display: none;
    }

    #clear-input {
        right: 8px;
        top: 8px;
        padding: 5px;
        background-color: #888;
        color: #f5f5f5;
        border-radius: 5px;
        bottom: unset;
    }

    textarea {
        max-width: 100%;
        margin-right: 0px;
        padding: 5px 10px 5px 5px;
    }

    #message-input {
        border-radius: 5px 5px 0 0;
    }


    #input-container {
        display: flex;
        margin:0;
        flex-direction: column;
        width: 100%;
    }

    .text-input-container {
        display: flex;
        align-items: center;
    }

    button#submitButton {
        height: fit-content;
        width: 100% !important;
        position: static !important;
        border-radius: 0px 0px 5px 0px;
    }

    .button-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    #new-chat-container,#voice-input-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #new-chat-button,#voice-input-button {
        width: 100% !important;
        position: static !important;
        border-radius: 0px 0px 0px 5px;
        height: 34px;
    }

}

/* for high resolution mobile devices such as iPhone */
@media screen and (min-resolution: 2dppx) {

}

/* iPad Layout */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    #chat-container {
        position: relative;
        height: auto;
        /* 70px is the height of message-form */
        max-width: 900px;
        width: 90%;
    }

    .message-input-container {
        position: absolute;
        bottom: 4em;
        width: 100%;
    }

}