@media screen and (max-width: 1440px) {
    /* #menu {
        display: none;
    } */
}


@media screen and (max-width: 1024px) {
    /* #chat-history-container {
        display: none;
    } */
}

@media (min-width: 1024px) {
    /* #toggle-chat-topic {
      display: none;
    } */
}

@media (min-width: 1440px) {
    /* #ai-profile {
      display: none;
    } */
}

/* for the mobile devices */
@media screen and (max-width: 768px) {
    #toggle-layout {
        display: none;
    }

    #app-outer-wrapper {
        flex: 100;
        height: 100%;
    }

    #menu {
        display: none;
        position: fixed;
        top: 2.7em;
        right: 1em;
        border-radius: 0.5em;
        width: 80vw;
        max-width: max-content;
        background-color: #FFFFFF;
        box-shadow: 2px 4px 6px 2px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        overflow-y: auto;
        height: calc(75vh);
        max-height: max-content;
        z-index: 9999;
    }

    #menu li {
        margin: 0;
        padding: 10px;
    }

    #menu-header i,
    #menu li i {
        margin: 0 0.5em 0 0;
        font-size: 1em;
        padding: 0.2em;
    }

    #menu-header span {
        font-size: 1em;
        font-weight: normal;
    }

    #menu-list li span {
        margin: 0;
        padding: 0;
    }

    #chat-container {
        padding: 0;
        width: 100%;
        margin: 0;
        border: 0;
        box-shadow: 0;
    }

    #app-name {
        font-size: 1em;
    }

    #messages {
        width: 100%;
        padding: 0.5em;
    }

    .message {
        padding: 1em;
        margin-bottom: 0.5em;
        margin-right: 0;
        border-radius: 0.5em;
    }

    .message ol,
    .message ul {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .message li:not(.menu-item) {
        margin-bottom: 0.5em;
        margin-left: 2em;
    }

    .mini-toolbar {
        font-size: 12px;
    }

    .btn .btn-text {
        display: none;
    }

    #clear-input {
        right: 8px;
        top: 8px;
        padding: 5px;
        background-color: unset;
        color: #666;
        border-radius: 5px;
        bottom: unset;
        width: fit-content;
        height: fit-content;
        left:unset;
        position: absolute;
    }

    textarea {
        max-width: 100%;
        margin-right: 0px;
        padding: 5px 10px 5px 5px;
    }

    #message-input {
        border-radius: 5px 5px 0 0;
        padding: 5px 30px 5px 5px;
    }


    #input-container {
        display: flex;
        margin: 0;
        flex-direction: column;
        width: 100%;
    }

    .text-input-container {
        display: flex;
        align-items: center;
    }

    button#submitButton {
        height: fit-content;
        width: 100% !important;
        position: static !important;
        font-size: 20px;
        border-radius: 0px 0px 0px 0px;
    }

    .button-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    #new-chat-container,
    #voice-input-container {
        width: 100%;
        display: flex;
        font-size: 20px;
        justify-content: center;
    }

    #new-chat-button,
    #voice-input-button {
        width: 100% !important;
        position: static !important;
        font-size: 20px;
        border-radius: 0px 0px 0px 0px;
        height: 34px;
    }

    #ai-actor-container {
        display: none;
        position: fixed;
        max-width: 80vw;
        width: 80%;
    }

    #menu {
        display: none;
    }

    #chat-history-container {
        display: none;
    }

}

/* iPad Layout */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    .message-input-container {
        position: absolute;
        bottom: 4em;
    }

}