.setting-item {
    margin-bottom: 5px;
}

.setting-item label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-text-color);
    font-size: 14px;
}

.setting-item input[type="text"],
.setting-item input[type="number"],
.setting-item textarea,
.setting-item select {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--border-color);
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px;
    font-size: 14px;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.textarea-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

/* Custom scrollbar for textareas */
textarea::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 6px;
}

textarea::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    cursor: default;
}