
* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}


code {
    font-family: Consolas, Monaco, Menlo, 'Courier New', monospace;
    background-color: #000;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
    color: antiquewhite;
}