#toast {
    display: none;
    position: fixed;
    width: 80vw;
    bottom: 25%;
    left: 50%;
    opacity: 0.5;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    z-index: 9999;
    max-width: max-content;
}


#menu-header {
    display: flex;
    width: 100%;
    justify-content: left;
    margin-bottom: 10px;
    padding: 10px 0;
    color: #333;
    border-bottom: 1px solid #ccc;
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #f1f1f1;
}

#menu-header i {
    font-size: 20px;
    margin-right: 10px;
    margin-left: 5px;
}

#menu-header span {
    font-size: 18px;
    font-family: 'Roboto';
}

#menu-list {
    -webkit-overflow-scrolling: touch;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: flex;
    align-items: center;
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 5px;
    color: #333;
}

#menu li i {
    font-size: 16px;
    margin-right: 10px;
}

#menu li span {
    font-size: 14px;
    line-height: 120%;
}

#menu li:hover,
#menu li.active {
    background-color: #424141;
    color: #e6f2ff;
    cursor: pointer;
}

#header a {
    text-decoration: none;
}

#ai-profile {
    padding: 5px;
    color: #e6f2ff;
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    width: fit-content;
    background-color: #4CAF50;
    border-radius: 5px;
}

.message {
    position: relative;
    padding: 1em;
    margin-bottom: 0.8em;
    margin-right: 0.3em;
    border-radius: 0.5em;
    line-height: 150%;
}

.message ol,
.message ul {
    margin-top: 1em;
    margin-bottom: 1em;
}

.message li {
    margin-bottom: 0.5em;
    margin-left: 2em;
}

.system-message {
    background-color: #424141;
    opacity: 0.8;
    color: #e6f2ff;
    text-align: left;
    position: sticky;
    z-index: 1000;
    top: 0;
}

.user-message.active {
    background-color: #e0e0e0;
    color: #333333;
    text-align: left;
}

.user-message {
    background-color: #f2f2f2;
    color: #333333;
}

.assistant-message.active {
    background-color: #c4d7ff;
}

.assistant-message {
    background-color: #e6f2ff;
    color: #333333;
    text-align: left;
    margin-left: 20px;
}

/* Quote icon styles */
.user-message .fa-quote-left,
.assistant-message .fa-quote-left {
    position: absolute;
    cursor: pointer;
}

.system-message .fa-quote-left {
    top: -0.3em;
    left: -0.1em;
}

.user-message.active .fa-quote-left {
    color: #4d4d4d;
}

.assistant-message.active .fa-quote-left {
    color: #4d4d4d;
}

.fa-quote-left {
    top: 0em;
    left: 0em;
    font-size: 1em;
    color: #fff;
}

#system-message
{
    padding: 10px;
    background-color: #666;
    border: 1px solid #333;
    border-radius: 5px;
    color: #e6f2ff;
}

/* Window close icon styles */
i.message-delete.fa-times {
    position: absolute;
    top: 0.1em;
    right: 0.1em;
    font-size: 1em;
    color: #fff;
    cursor: pointer;
}

.user-message pre {
    white-space: pre-wrap;
}

.assistant-message pre {
    background-color: #000;
    color: white;
    padding: 5px;
    white-space: pre-wrap;
}

.icon-group i {
    cursor: pointer;
}

.icon-group {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.message.collapsed .icon-group {
    display: none;
}

/* Custom scrollbar for Webkit browsers */
#menu::-webkit-scrollbar,
#messages::-webkit-scrollbar,
textarea::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

#menu::-webkit-scrollbar-thumb,
#messages::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 6px;
}

#menu::-webkit-scrollbar-thumb::hover,
#messages::-webkit-scrollbar-thumb::hover,
textarea::-webkit-scrollbar-thumb:hover {
    background-color: #999;
    cursor: default;
}

/* mini-toolbar */

.mini-toolbar {
    background-color: #656464;
    color: #fff;
    padding: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 0.5em;
}

.mini-toolbar span {
    margin-right: 10px;
    cursor: pointer;
}

.mini-toolbar i {
    margin-right: 3px;
}

#sliderContainer {
    align-items: center;
}

#currentValue {
    background-color: #fff;
    color: #333;
    padding: 3px 6px;
    border-radius: 5px;
    margin-right: 5px;
}



#clear-input {
    position: absolute;
    right: -20px;
    top: 5px;
    font-size: 1em;
    color: #ccc;
    cursor: pointer;
}


#message-form button[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
}

#voice-input-button {
    position: absolute;
    top: -43px;
    height: 38px;
    left: 5px;
    color: #fff;
    background-color: #E53935;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: background-color 0.2s ease-in-out;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#voice-input-button:hover {
    background-color: #FF7043;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.voice-input-active i {
    color: #fff;
}

@keyframes buttonChange {

    0%,
    100% {
        background-color: #E53935;
        color: #ffffff;
    }

    50% {
        background-color: #000000;
        color: #E53935;
    }
}

#voice-input-button.voice-input-active {
    animation: buttonChange 1s infinite;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
}

#voice-input-button.voice-input-active i {
    animation: iconChange 1s infinite;
}

@keyframes iconChange {

    0%,
    100% {
        color: #ffffff;
    }

    50% {
        color: #E53935;
    }
}

button {
    height: 34px;
    width: 34px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

.switch-container {
    display: inline-block;
}

.code-block-wrapper {
    position: relative;
}

.code-block-copy {
    position: absolute;
    color: rgba(255, 255, 255, 0.5);
    top: 0;
    right: 0;
    cursor: pointer;
}

.code-block-copy:hover {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}