* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f8f8f8;
}

#chat-container {
    position: relative;
    height: calc(100vh - 120px);
    /* 70px is the height of message-form */
    max-width: 900px;
    width: 90%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#messages {
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 80%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    margin: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}


#message-input {
    flex: 1;
    max-width: 900px;
    margin-right: 10px;
}

textarea {
    resize: none;
    height: 60px;
    padding: 12px 20px;
    margin-bottom: 10px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px solid #eee;
    border-radius: 5px;
    background-color: #f5f5f5;
    transition: border-color 0.2s ease-in-out;
}

textarea:focus {
    border-color: #4CAF50;
}

button {
    height: 40px;
    width: 80px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

button:hover {
    background-color: #3e8e41;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 5px;
}

.system-message {
    background-color: #424141;
    color: #e6f2ff;
    text-align: left;
}

.user-message {
    background-color: #f2f2f2;
    text-align: left;
}

.bot-message {
    background-color: #e6f2ff;
    text-align: left;
    margin-left: 20px;
}

.bot-message ol {
    margin-left: 20px;
}

.user-message pre {
    white-space: pre-wrap;
}

.bot-message pre {
    background-color: #000;
    color: white;
    padding: 5px;
    white-space: pre-wrap;
}

code {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    font-size: 12px;
    padding: 2px;
    border-radius: 3px;
    color: antiquewhite;
}

.message-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.mini-toolbar-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: right;
}

.mini-toolbar {
    max-width: 300px;
    background-color: #656464;
    color: #fff;
    padding: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.mini-toolbar span {
    margin-right: 10px;
    cursor: pointer;
}

#message-form {
    height: 80px;
    background-color: #333;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.2);
}

i {
    margin-right: 5px;
}

#menu {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    width: 150px;
    height: 100%;
    background-color: #f1f1f1;
    border-left: 1px solid #ccc;
    border-radius: 0 5px 5px 0;
}

#menu-header {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#menu-header i {
    font-size: 20px;
    margin-right: 10px;
    color: #333;
}

#menu-header span {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#menu li i {
    font-size: 16px;
    margin-right: 10px;
    color: #333;
}

#menu li span {
    font-size: 14px;
    color: #333;
}

#menu li:hover {
    background-color: #cae4ff;
    cursor: pointer;
}