@media screen and (max-width: 480px) {  
    .chat-container {  
      padding: 10px;  
    }  
    textarea {  
      width: 100%;  
    }  
  }  
#chat-container {
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.message {
    margin-bottom: 10px;
}

.user-message {
    background-color: #f2f2f2;
}

.bot-message {
    background-color: #e6f2ff;
}

textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

pre {
    background-color: #000;
    border: 1px solid #000;
    color:azure;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;
    overflow-x: auto;
}

code {
    font-family: 'Courier New', Courier, monospace;
}